@media(max-width: 828px) {
    body {
        font-size: px;
    }

}

/* @media only screen and (min-width: 600px) {
   span {
    font-size: 20px;
   } 
} */

* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.navbar {
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg4.png);
    background-size: cover;
    background-position: center;   
}
.navbar .button {
    background-color: #9db5cc;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 20px;
    border-radius: 30px;
}

.navbar .button:hover {
    color: #9db5cc;
    background-color: transparent;
    border: 2px solid #9db5cc;
    cursor: pointer;
}

.navbar .logo {
    color: #9db5cc;
    padding-top: 40px;
    margin-left: 2%;
}

#nav {
    list-style-type: none;
}

#nav li {
    display: inline-block;
}

#nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

#nav ul li a:hover {
    color: #9db5cc;
}

.splash {
    position: absolute;
    top: 32%;
    left:12%; 
    display: flex;
    justify-content: center;
    align-items: center;  
}

.splash .button {
    background-color: #9db5cc;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 20px;
    border-radius: 30px;
}

.splash .button:hover {
    color: #9db5cc;
    background-color: transparent;
    border: 2px solid #9db5cc;
    cursor: pointer;
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 85px;
}

h2 {
    color:#9db5cc;
    font-size: 50px;
    margin-bottom: 50px;
}

h3 { 
    color: white;
    font-size: 25px;
    font-family: 'Arial Narrow';
  
}

h4 {
    color: white;
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
}

a {
    color:#9db5cc;
    font-size: 25px;
}
/* about */
.about {
    height: 100vh;
    width: 100%;
    padding: 100px 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.main {
    padding-top: 40px;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: #9db5cc;
    font-size: 75px;
    text-transform: capitalize;
}

.about-text h5 {
    color: #9db5cc;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #9db5cc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
/* skills */
.skills {
    height: 100vh;
    width: 100%;
    padding: 100px 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.tag h2 {
    color: #9db5cc;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    padding-top: 0px;
    text-align: center;
}

.tag h3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    width: 1500px;
    margin: 30px auto;
    text-align: center;
}

.icon {
    height: 200px;
    width: 1200px;
    background: #191919;
    border-radius: 0px;
    margin-left: 350px;
    position:relative;
    text-align: center;
}

.icon h4 {
    padding-top: 10px;
    color: #9db5cc;
    font-size: 40px;
    font-family: 'Josephine Sans', sans-serif;
    width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.icon .pad {
    justify-content: center;
    
}
/* works */
.works {
    height: 100vh;
    width: 100%;
    padding: 100px 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* services */
.services {
    height: 100vh;
    width: 100%;
    padding: 100px 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.title h2 {
    color: #9db5cc;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 365px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px opx;
    color:#9db5cc;
}

h5 {
    color: #9db5cc;
    font-size: 23px;
    margin-bottom: 15px;
}

.bed p {
    color: #9db5cc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #9db5cc;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
}

.card .button:hover {
    color: #9db5cc;
    background-color: transparent;
    border: 2px solid #9db5cc;
    cursor: pointer;
}
/* contact */
.contact {
    height: 100vh;
    width: 100%;
    padding: 100px 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}

footer {
    height: 20vh;
    width: 100%;
    background-color: #2d3e51;
}

